<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit-icons-extended@1/dist/js/uk-extended.min.js"></script>
<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
	var clipboard = new ClipboardJS('.ctc');

function escapeHtml(unsafe) {
return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
}

clipboard.on('success', function (e) {
const text = escapeHtml(e.text);
UIkit.notification({message: `<span uk-icon='icon: check'></span> Copied to clipboard. <br><pre><code>${text}</code></pre>`, status: 'success'})
e.clearSelection();
});

clipboard.on('error', function (e) {
UIkit.notification({message: `<span uk-icon='icon: close'></span> Copying to clipboard failed.`, status: 'danger'})
console.error(e);
});

// table filter
// https://dev.to/michelc/search-and-filter-a-table-with-javascript-28mi
(function () {
'use strict';

var TableFilter = (function () {
var Arr = Array.prototype;
var input;

function onInputEvent(e) {
input = e.target;
var table1 = document.getElementsByClassName(input.getAttribute('data-table'));
Arr.forEach.call(table1, function (table) {
Arr.forEach.call(table.tBodies, function (tbody) {
Arr.forEach.call(tbody.rows, filter);
});
});
}

function filter(row) {
var text = row.textContent.toLowerCase();
var val = input.value.toLowerCase();
row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
}

return {
init: function () {
var inputs = document.getElementsByClassName('table-filter');
Arr.forEach.call(inputs, function (input) {
input.oninput = onInputEvent;
});
}
};

})();

TableFilter.init();
})();

var swiper = new Swiper('.swiper-container', {
loop: true,
autoplay: {
delay: 2000,
disableOnInteraction: false
},
effect: 'coverflow',
grabCursor: true,
centeredSlides: true,
slidesPerView: 'auto',
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 7,
slideShadows: false
},
pagination: {
el: '.swiper-pagination',
type: 'fraction'
}
});
</script>
