<h2 class="uk-heading-divider anchor">
    <a href="#icons">Icons</a>
</h2>

<form class="uk-search uk-search-default uk-width-1-1">
    <span uk-search-icon></span>
    <input type="search" class="uk-search-input table-filter" data-table="icons-table" placeholder="Input icon you are looking for .." />
</form>


<div class="uk-overflow-auto">
    <table class="icons-table uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Extended</th>
                <th>Synonyms</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody id="icons-list">
            {% for icon in icons %}
                <tr>
                    <td><span uk-icon="{{ icon.name }}"></span><span uk-icon="{{ icon.name }}" data-ratio="2"></span></td>
                    <td><b>{{ icon.name }}</b></td>
                    <td>
                        {% if icon.type == 'extended' %}
                            <span class="uk-label uk-label-success">{{ icon.type }}</span>
                        {% else %}
                            <span class="uk-label uk-label-warning">{{ icon.type }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if icon.aliases %}
                            {% for alias in icon.aliases %}
                                {{ alias }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        <button class="ctc uk-button uk-button-link uk-text-muted" data-clipboard-text="&lt;span uk-icon=&quot;{{ icon.name }}&quot;&gt;&lt;/span&gt;" uk-tooltip="Copy to clipboard">
                            <span uk-icon="sign-in"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>